package views

import "server-api/db"

templ Users(users []db.User) {
	<div class="text-6xl text-primary font-semibold mb-8">users</div>
	for _, userdata := range users {
		@user(userdata)
	}
}

templ user(user db.User) {
	<div class="bg-supporting text-secondary p-2 rounded-md flex flex-row gap-1.5">
		<span><b>Username:</b> { user.Username }</span>
		<span><b>Email:</b> { user.Email }</span>
	</div>
}
