@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @font-face {
    font-family: "Kelsi";
    font-style: normal;
    font-display: block;
    font-weight: normal;
    src: url("../../static/fonts/Kelsi-Regular.otf") format("otf");
  }
  /*@font-face {*/
  /*  font-family: "Kelsi";*/
  /*  font-style: filled;*/
  /*  font-display: block;*/
  /*  font-weight: normal;*/
  /*  src: url("../../static/fonts/Kelsi-fill.otf") format("otf");*/
  /*}*/
  :root {
    --color-primary: #a4243b;
    --color-secondary: #273e47;
    --color-background: #d8c99b;
    --color-supporting: #d8973c;
    --color-tertiary: #c87135;
    --color-tertiary-hover: #d99048;
    --color-tertiary-click: #af5332;
  }
}
