@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @font-face {
    font-family: "Kelsi";
    font-style: normal;
    font-display: block;
    font-weight: normal;
    src: url("../../static/fonts/Kelsi-Regular.otf") format("otf");
  }
  /*@font-face {*/
  /*  font-family: "Kelsi";*/
  /*  font-style: filled;*/
  /*  font-display: block;*/
  /*  font-weight: normal;*/
  /*  src: url("../../static/fonts/Kelsi-fill.otf") format("otf");*/
  /*}*/
  :root {
    --color-primary: 164, 36, 59;
    --color-secondary: 39, 62, 71;
    --color-background: 216, 201, 155;
    --color-supporting: 216, 151, 60;
    --color-tertiary: 189, 99, 47;
  }
}
